* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url("./tubby.jpg");
    background-size: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
}

.button {
    margin: 20px;
    padding: 10px 20px;
    font-size: large;
    background-color: antiquewhite;
    border-radius: 3px;
}

.gameboard {
    border: 3px solid antiquewhite;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border: 3px solid antiquewhite;
    background-color: rgb(62, 201, 127);;
}

.cell:hover {
    background-color: rgb(62, 178, 201);
}